<?php

define('MAPAS_URL', "http://mapas.domain/");

define('API_PUBLIC_KEY', '');
define('API_PRIVATE_KEY', '');

define('REPLACE_IMAGES_URL_FROM', 'http://mapas.domain/files/');
define('REPLACE_IMAGES_URL_TO', 'http://mapas.domain/files/');

define('PROJECT_ID', 1851);
define('DATE_FROM', '2016-06-09');
define('DATE_TO', '2016-06-10');

define('SDK_DEBUG_REQUEST', true);
define('SDK_DEBUG_RESPONSE', false);